.employee-identity .date-picker {
  width: 310px;
  height: 30px;
  border: 3px solid lightgrey;
  border-radius: 1px;
  background-color: lightblue;
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px;
  margin: 0;
}

.field-input {
  display: flex;
}
