.save-button {
  background-color: #1e3a8a;
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}
