#root {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  color: #333;
}

.head-title h1 {
  background-color: lightblue;
  color: black;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 30px;
  font-size: 44px;
  padding: 8px 16px;
}

h2 {
  font-size: 34px;
}

.view-employees-link {
  color: darkblue;
  font-weight: bold;
  font-size: 18px;
}
