#root {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  color: #333;
}

.head h1 {
  background-color: lightblue;
  color: black;
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 28px;
  padding: 8px 16px;
}
